/*common starts*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262; 
}
/*common ends*/
/*header starts*/
header{
	padding: 25px 0;
}
.container{
	margin: 0 auto;
	overflow: hidden;
	width: 90%;
}
.logo{
	margin-top: 15px;
	width: 11%;
	float: left;

}
.logo img{
	width: 100%;
}
.menu{
	width: 60%;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	margin: 0 54px;
	padding: 3px 2px;
	display: inline-block;
	color: #626262;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: .3s;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
}
/*header ends*/
/*banner starts*/
.banner{}
.b-img{
}
.b-img img{
	width: 100%;
}
/*banner ends*/
/*pd starts*/
.pd{
	padding: 100px 0;
}
.container2{
	overflow: hidden;
	margin: 0 auto;
	width: 80%;
}
.ublight{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #b4ad9e;
	text-transform: uppercase;
}
.h1{
	margin-top:20px;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 400;
}
.c-text{
	margin: 0;
	line-height: 25px;
}
.mb40{
	margin-bottom: 40px;
}
/*pd ends*/
/*blog starts*/
.single{
	margin-bottom: 100px;
	width: 47%;
	float: left;
}
.single:nth-child(even){
	margin-left: 6%;
}
.blog-img{
	margin-bottom: 30px;
}
.blog-img img{
	width: 100%;
}
.load{
	padding: 50px 0 150px;
	text-align: center;
}
.btn{
	padding: 20px 35px;
	font-family: 'Playfair Display', serif; 
	font-size: 20px;
	font-weight: 400;
	color: #626262;
	border: 1px solid;
	border-radius: 1px;
}
.btn:hover{
	background-color: #626262;
	color: #ffffff;
}
/*blog ends*/
/*newsletter starts*/
.newsletter{
	margin-bottom: 100px;
	background-color: #f0f0f0;
}
.signup{
	padding: 70px 0;
	text-align: center;
}
.signup h1{
	margin: 0;
	color: #333333;
}
.form{
	margin: 70px auto 0px;
	position: relative;
	left: 0;
	right: 0;
	width: 400px;
	height: 30px;
	border-bottom: 1px solid;
}
.form form input{
	padding: 1px 40px 5px 5px;
    font-family: 'Playfair Display',serif;
    font-size: 16px;
    font-weight: 400;
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background-color: transparent;
}
.form form button{
	padding: 0;
    border: none;
    position: absolute;
    top: 3px;
    right: 3px;
}

/*newsletter ends*/
/*footer starts*/
.footer{
	padding: 35px 0;
    font-family: 'Playfair Display',serif;
	background-color: #f0f0f0;
}
.terms{
	width: 35%;
	float: left;
}
.terms ul{
	margin: 0;
	padding-left: 80px;
}
.terms ul li {
	margin-left:20px;
	list-style: none;
	display: inline-block;

}
.terms ul li a{
    color: #000;
	text-decoration: none;
}
.social{
	width: 20%;
	float: right;
}
.social ul{
	margin: 0;
	padding-right: 0;
	float: right;
}
.social ul li{
	list-style: none;
	display: inline-block;
}
.social ul li a{
	padding-left: 20px;
	text-decoration: none;
}
/*footer ends*/